.items {
    list-style: none;
    padding: 0;
    display:flex;
    width: 60%;
    margin: 0 auto;
  }
  .items li {
    width: 30%;
    padding: 10px 30px;
    background: linear-gradient(to left, #bebbba 0%, white, #aaa8a7);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    margin: 0 auto;
  }
  .items li:last-child {
    border-bottom: none;
  }